@import './styles/tailwind.css';
@import './styles/grid.css';

body {
  direction: rtl;
  margin: 0;
  font-family: 'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
